<div id="homepage" class="container" style="">

    <div class="row">

        <ul class="nav nav-tabs">
          <li class="active"><a href="#home" data-toggle="tab">ClicRDV Gallery</a></li>
          <li><a href="#profile" data-toggle="tab">Let's hang out!</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="home">
              
            <% @employees.each do |emp| %>

            <div class="employee col-lg-2 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="single.html" data-toggle="modal" data-target="#myModal">
                    <div class="photo">
                      <img class="img-responsive" src=" <%= emp.img_url %> ">
                    </div>
                    <div class="name">
                        <%= emp.name%>
                    </div>
                </a>
            </div>

            <% end %>
          </div>
          <div class="tab-pane" id="profile">
              
            <div class="jumbotron">
                <h3>Paint Ball !! Le vendredi 27 juin 2014.</h3>
                <ul>
                    <li>Apportez tenue salissable</li>
                    <li>Coût 60 euros l'après-midi</li>
                </ul>
                <form action="" class='clearfix'>
                    <button class="btn btn-success btn-lg pull-right">Votez !</button>
                </form>
            </div>

            <div class="jumbotron">
                <h3>Bowling !! Le vendredi 4 juillet 2014.</h3>
                <ul>
                    <li>Ca va striker sévère...ou pas.</li>
                    <li>Cout: 11€ la partie / personne</li>
                </ul>
                <form action="" class='clearfix'>
                    <button class="btn btn-success btn-lg pull-right">Votez !</button>
                </form>
            </div>
             
            <div class="jumbotron">
                <h3>Karting!! Le vendredi 11 juillet 2014.</h3>
                <ul>
                    <li>On va chauffer la piste!</li>
                    <li>Cout: ~15€ la session de karting.</li>
                </ul>
                <form action="" class='clearfix'>
                    <button class="btn btn-success btn-lg pull-right">Votez !</button>
                </form>
            </div>


          </div>
        </div>

    </div>

</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <img src="http://placekitten/650/800" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->