<div id="homepage" class="container" ng-controller="IndexCtrl">

    <div class="row">

        <ul class="nav nav-tabs">
          <li class="active"><a href="#home" data-toggle="tab">ClicRDV Gallery</a></li>
          <li><a href="#profile" data-toggle="tab">Let's hang out!</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="home">

            <div ng-repeat="employee in employees" ng-click="handleClick(employee)" ng-model="employee" class="employee col-lg-2 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-toggle="modal" data-target="#myModal">
                    <div class="photo">
                      <img class="img-responsive" src="{{ employee.img_url }}">
                    </div>
                    <div class="name">
                        {{ employee.name }}
                    </div>
                </a>
            </div>
          </div>
          <div class="tab-pane" id="profile">
              
            <div class="jumbotron">
                <h3>Paint Ball !! Le vendredi 27 juin 2014.</h3>
                <ul>
                    <li>Apportez tenue salissable</li>
                    <li>Coût 60 euros l'après-midi</li>
                </ul>
                <form action="" class='clearfix'>
                    <button class="btn btn-success btn-lg pull-right">Votez !</button>
                </form>
            </div>

            <div class="jumbotron">
                <h3>Bowling !! Le vendredi 4 juillet 2014.</h3>
                <ul>
                    <li>Ca va striker sévère...ou pas.</li>
                    <li>Cout: 11€ la partie / personne</li>
                </ul>
                <form action="" class='clearfix'>
                    <button class="btn btn-success btn-lg pull-right">Votez !</button>
                </form>
            </div>
             
            <div class="jumbotron">
                <h3>Karting!! Le vendredi 11 juillet 2014.</h3>
                <ul>
                    <li>On va chauffer la piste!</li>
                    <li>Cout: ~15€ la session de karting.</li>
                </ul>
                <form action="" class='clearfix'>
                    <button class="btn btn-success btn-lg pull-right">Votez !</button>
                </form>
            </div>


          </div>
        </div>

    </div>

</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" ng-controller="ModalCtrl">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{ profil.name }}</h4>
      </div>
      <div class="modal-body">
        <div class="profil-photo">
          <img ng-src="{{ profil.img_url }}" alt="">
        </div>
        <div class="profil-alias">
        Alias : {{ profil.alias }}
        </div>
        <div class="profil-birthday">
        Birthday : {{ profil.birthday }}
        </div>
        <div class="profil-email">
        Email : {{ profil.email }}
        </div>
        <div class="profil-role">
          Role : {{ profil .role }}
        </div>
        <div class="profil-ilike">
          I Like : {{ profil.ilike }}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->