header, footer{background-color: white; color: white;}
header{border-top: 5px solid #3498db;}
header{
	text-align: center;
	color:black;
	padding: 30px 0;
	margin-bottom: 30px;
	font-family: Baskerville;
}
header h1{font-size: 100px; letter-spacing: 35px;}
header h2{word-spacing: 80px;}
#blue {color: #2980b9;}
#green {color: #2ecc71;}
#purple {color: #9b59b6;}
#red {color: #e74c3c;}

#homepage{background-color:#3498db;}
#homepage .employee{}
#homepage .employee .photo{width:150px; height: 150px; overflow: hidden;}
.thumb{margin-bottom: 15px;}
.employee{text-align: center;}


.tab-pane{padding-top:30px;}
.nav{background-color: #fff;}
.nav-tabs li{font-size: 20px;}
#homepage .nav-tabs > li.active a, #homepage.nav-tabs > li.active a:focus{background-color: #3498db; color:#fff;}
.name{font-size: 18px; padding: 7px 9px; text-align: center;}

.jumbotron{padding:15px 0; margin: 20px 15px; background-color: #fff;}
.jumbotron h3{margin-top:0; margin-bottom:20px;}

.modal-body{text-align: center; font-size: 16px;}
.modal-body div{margin-bottom: 10px;}
.modal-title{font-size: 30px;}
.profil-photo{text-align: center; overflow: hidden;}

footer{margin-bottom: 0; text-align: center;}
body{margin-top: 0;}