<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CLIC</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
</head>

<body>

    <header>
        <div class="container">
            <h1>
                <span id="blue">C</span>.<span id="green">L</span>.<span id="purple">I</span>.<span id="red">C</span>
            </h1>
            <h2>
                <span id="blue">Creating</span> <span id="green">Links</span> <span id="purple">In</span> <span id="red">Companies</span>
            </h2>
            <!-- <h1>
                C.L.I.C
            </h1>
            <h2>
                Creating Links In Companies
            </h2> -->
        </div>
    </header>

    <%= yield %>

    <footer>
        <div class="container">
                Clic &copy 2014 
            </div>
        </div>        
    </footer>

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>

</body>

</html>
